<p id="notice"><%= notice %></p>

<h1>Partidas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Local</th>
      <th>Data partida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partidas.each do |partida| %>
      <tr>
        <td><%= partida.title %></td>
        <td><%= partida.description %></td>
        <td><%= partida.local %></td>
        <td><%= partida.data_partida %></td>
        <td><%= link_to 'Show', partida %></td>
        <td><%= link_to 'Edit', edit_partida_path(partida) %></td>
        <td><%= link_to 'Destroy', partida, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partida', new_partida_path %>
