<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @participante.user %>
</p>

<p>
  <strong>Partida:</strong>
  <%= @participante.partida %>
</p>

<%= link_to 'Edit', edit_participante_path(@participante) %> |
<%= link_to 'Back', participantes_path %>
